<!DOCTYPE html>

<html>
<head lang="en"><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NCDs Listener: Social Listening Web Application for Non-Communicable Disease (NCDs) Patients</title>
    <link rel="icon" type="image/png" href="templates\597f871bfca7fcd451459aaeb901ce73.png">
    <link rel="stylesheet" href="./LegalDoc/font-awesome.min.css">
    <link rel="stylesheet" href="./LegalDoc/codemirror.min.css">
    <link rel="stylesheet" href="./LegalDoc/app.css">
    <link rel="stylesheet" href="./LegalDoc/bootstrap.min.css">
</head>
<body>
    <div class="container" id="main">
        <div class="row">
            <h1 class="col-md-12 text-center">
                <strong>NCDs Listener: Social Listening Web Application for Non-Communicable Disease (NCDs) Patients </strong> <br> 
                เว็บแอปพลิเคชันการฟังเสียงบนสื่อสังคมออนไลน์สําหรับผู้ป่วยกลุ่มโรคไม่ติดต่อเรื้อรัง <br>
                <hr>
            </h1>
    
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1 class="col-md-12 text-center">
                    <strong>Developers</strong><br> 
                </h1>
                <ul class="nav nav-pills nav-justified">
                    <li>
                        <a href="https://github.com/Ratchanontt">
                            <img src="./LegalDoc/Ratchanont1-fotor.png" height="120px"><br>
                            <h4><strong>Student</strong></h4>
                            <h4>Ratchanont Thippimanporn</h4>
                            
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/MOOwuttichai"> 
                            <img src="./LegalDoc/Wuttichai_photo-fotor.png" height="120px"><br>
                            <h4><strong>Student</strong></h4>
                            <h4>Wuttichai Khamna</h4>
                        </a>
                    </li>
                    <li>
                        <a href="https://vi-lab-th.github.io/">
                            <img src="./LegalDoc/teacher.png" height="120px"><br>
                            <h4><strong>Project Advisor</strong></h4>
                            <h4>Thanapong Intharah</h4>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-12 text-center">
                <ul class="list-inline">
                    <li>
                        <a href="https://github.com/sitthatkaja">
                             Sitthatka Jarussang
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/thanik48775">
                            Thanik Pimpiban
                        </a>
                    </li>
                    <li>
                        <a href="https://vi-lab-th.github.io/"> Thanapong Intharah </a>
                    </li>
                </ul>
            </div>
        </div> -->

        <div class="row">
            <hr>
            <h1 class="col-md-12 text-center">
                <strong>Main Content</strong><br> 
            </h1>
            <div class="col-md-8 col-md-offset-2 text-center">
                <ul class="nav nav-pills nav-justified">
                    <li>
                        <a href="https://drive.google.com/file/d/1z84Vf08ddabnCJvLKP1QyaX1oIQIQqAE/view?usp=sharing">
                            <img src="./LegalDoc/introreport.png" height="120px"><br>
                            <h4><strong>Report</strong></h4>
                            <h4>You can visit my report</h4>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.spatial.io/s/KKU-Herbarium-Metaverse-63909460e2d20a0001421345?share=4541254933648906944"> 
                            <img src="./LegalDoc/customer-service-2-fill.svg" height="120px"><br>
                            <h4><strong>NCDs Listener</strong></h4>
                            <h4>Click me to go metaverse!</h4>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/MOOwuttichai/NCDs_Listener">
                            <img src="./LegalDoc/github_pad.png" height="120px"><br>
                            <h4><strong>Web App</strong></h4>
                            <h4>Introduce my all of models</h4>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3>Results in Spatial.io: KKU herbarium metaverse</h3>
                <hr>
                <video id="v0" width="100%" autoplay="" loop="" muted="" controls="">
                    <source src="./LegalDoc/WebApp_Prototype.mp4" type="video/mp4">
                </video>
            </div>
        </div> -->

        <div class="col-md-8 col-md-offset-2">
            <h3> <strong>What will you see in the metaverse? </strong><h3>
                <hr>
                <p class="text-justify">
                    you will see metaverse in youtube version <a href="https://youtu.be/y6NLmvx9ZQo">Click me</a>.    
                </p>
            <video id="v0" width="100%" autoplay="" loop="" muted="" controls="">
                        <source src="./LegalDoc/KKU Herbarium Metaverse  on 4-2-23 at 2.31 PM.mp4" type="video/mp4">
                    </video>
            </div>


        <div class="col-md-8 col-md-offset-2">
       
        <img src="./LegalDoc/KKU HERBARIUM.png" class="img-responsive" alt="overview">
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3><strong>Abstract</strong></h3>
                <hr>
                <br> 
                <!-- <img src="./LegalDoc/storyboard_new.png" class="img-responsive" alt="overview"><br> -->
                <br> 
                <p class="text-justify">
                       Plant diversity is one of the most valuable knowledge. Therefore, it is essential to disseminate this knowledge to people of all ages genders. 
                    KKU herbarium is another way to disperse the knowlenge education. However, when travelers come to an exhibition, there are limitations on space, cost, and time to travel. 
                    Therefore, some interested groups may not be able to access the knowledge. Metaverse is another way through which this education can be transferred to those who are interested. 
                    <br> 
                    &emsp;&emsp;KKU Herbarium Metaverse is a simulation of the physical KKU herbarium. Along with a sign explaining the details of each part of the exhibition, what each part is, 
                    and how important this is a channel that opens for everyone to visit in the meantime, able to interact with each other. 
                    Including being able to make an appointment to discuss various matters. which can contain more visitors than the actual area Additionally, 
                    we can add unlimited exhibition spaces in the metaverse. For example, the room exhibits a diversity of 4 types of leguminous plants Bauhinia purpurea L. (Purple bauhinia), 
                    Delonix regia (Bojer) Raf. (Royal poinciana), Senna surattensis (Burm.f.) H.S. Irwin & Barneby (Scrambled eggs)and Centrosema pubescens Benth (Butterfly pea). 
                    which are additional rooms created from real locations. The advantage of metaverse displays is that we can display models of flowers regardless of the season. 
                    which such models can look around can zoom in and out and see the details Therefore, the exhibition in the form of a metaverse is a way to allow those who are interested to gain more 
                    knowledge about plant diversity. This will lead to understanding, cherishing, and being ready to conserve the diversity of plants to continue     
                    <br>    
                    &emsp;&emsp;Developers of the metaverse consists of two parts: creating an environment and creating a display model. The model is crea using photogrammetry techniques. 
                    This is a 3D model with multiple photographs.
                    <br>    
                


                
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3><strong>Project poster</strong></h3>
                <hr>
                <div class="text-center">
                    <div style="position: relative">
                        <img src="./LegalDoc/Metaverse poster.png" height="1000px"><br>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <!-- <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3>รางวัลดาวรุ่งวิทยาศาสตร์รุ่นเยาว์ ประจำปีการศึกษา 2564 YRSS 2021 (YOUNG RISING STARS OF SCIENCE AWARD 2021)</h3>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <ul class="nav nav-pills nav-justified">
                    <li>
                        <a href="https://youtu.be/Q5_Vgi7oNNY&amp;feature=youtu.be">   
                            <img src="./LegalDoc/youtube_icon_dark.png" height="200px"><br>
                            <h4><strong>Presentation Video</strong></h4>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h4>รางวัลเหรียญเงินในสาขาวิทยาการคอมพิวเตอร์</h4>
                 <hr>
                <div class="text-center">
                     <div style="position: relative">
                        <img src="./LegalDoc/Kannika_YRSS2021.png" height="800px"><br>
                     </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>  
        <div class="row">
            <div class="col-md-8 col-md-offset-2"></div>    
        </div> -->
        
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3><strong>รางวัลจากงานการประชุมวิชาการคณะวิทยาศาสตร์ ครั้งที่ ๒๕ ประจําปีการศึกษา ๒๕๖๕</strong></h3>
                <hr>
                <div class="text-center">
                    <div style="position: relative">
                        <img src="./LegalDoc/thanik_reward.png.png" height="500px"><br>
                    </div>
                    <div style="position: relative">
                        <img src="./LegalDoc/sitthatka_reward.png.png" height="500px"><br>
                    </div>
                </div>
            </div>
        </div
        
      
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <br>
                The website template was borrowed from
                <a href="http://mgharbi.com/">Michaël Gharbi</a>.
                <p></p>
            </div>
        </div>
    </div>


</body></html>


<style>
	.collapsible {
		background-color: #eee;
		color: #444;
		cursor: pointer;
		padding: 18px;
		width: 100%;
		border: none;
		text-align: left;
		outline: none;
		font-size: 15px;
	}
	.active,
	.collapsible:hover {
		background-color: #ccc;
	}
	.collapsible:after {
		content: "\02795"; /* + */
		font-size: 13px;
		float: right;
		margin-left: 5px;
	}
	.active:after {
		content: "\2796"; /* - */
	}
	#toc {
		padding: 0 18px;
		display: none;
		background-color: #f1f1f1;
	}
</style>

<div style="position: fixed; top: 20px; left: 20px">
	<button id="show-toc" type="button" class="collapsible">Table of Contents</button>
	<ul id="toc">
        <li><a href="#Abstract">Abstract</a></li>
        <li><a href="#High level approach">High level approach</a></li>
        <li><a href="#Spatial recomposition results">Spatial recomposition results</a></li>
        <li><a href="#Misc. editing">Misc. editing</a></li>
        <li><a href="#Perspective editing">Perspective editing</a></li>
        <li><a href="#Colorization">Colorization</a></li>
        <li><a href="#Fixing up photoshop">Fixing up photoshop</a></li>
        <li><a href="#Beyond real photos">Beyond real photos</a></li>
        <li><a href="#User interface demo">User interface demo</a></li>
        <li><a href="#Comparison with baselines">Comparison with baselines</a></li>
        <li><a href="#comparison with text-based methods">comparison with text-based methods</a></li>
        <li><a href="#Comparison with reposing methods">Comparison with reposing methods</a></li>
        <li><a href="#Ablations">Ablations</a></li>
        <li><a href="#Style transfer effect">Style transfer effect</a></li>
        <li><a href="#Motion model ablation">Motion model ablation</a></li>
        <li><a href="#Latent noise initialization">Latent noise initialization</a></li>
        <li><a href="#Limitations">Limitations</a></li>
        <li><a href="#BibTeX">BibTeX</a></li></ul>
</div>

<script type="text/javascript">
	const h2s = document.getElementsByTagName("h2");
	[...h2s].forEach((elm) => {
		const item = document.createElement("li");
		const anchor = document.createElement("a");
		if (!elm.id) elm.id = elm.innerText;
		anchor.href = #${elm.id};
		anchor.innerText = elm.innerText;
		item.appendChild(anchor);
		toc.appendChild(item);
	});
	document.getElementById("show-toc").addEventListener("click", function () {
		this.classList.toggle("active");
		const content = this.nextElementSibling;
		if (content.style.display === "block") {
			content.style.display = "none";
		} else {
			content.style.display = "block";
		}
	});
</script>